**Use the following code to clean csv dataframes for different restaurants **

Duplicate restaurants might be obtained from scraping search, so we need to make sure to drop them.

Merge the cleaned individual dataframes into the final dataframe as our database.

Our final_df contains about 2500 restaurants.

In [1]:
import pandas as pd

In [2]:
header=['restaurant_name', 'retaurant_address', 'restaurant_zipcode', 'restaurant_reviewcount', 'restaurant_rating', 'restaurant_neighobrhood', 'Hygiene_score', 'price_range', 'Liked by Vegetarians', 'Takes Reservations', 'Delivery', 'Take-out', 'Accepts Credit Cards', 'Accepts Bitcoin', 'Parking', 'Bike Parking', 'Wheelchair Accessible', 'Good for Kids', 'Good for Groups', 'Attire', 'Noise Level', 'Alcohol', 'Happy Hour', 'Outdoor Seating', 'Wi-Fi', 'Has TV', 'Dogs Allowed', 'Waiter Service', 'Caters', 'Category', 'Has Soy-free Options', 'Has Dairy-free Options', 'Liked by Vegans', 'Has Gluten-free Options', 'Good For', 'Ambience', 'Gender Neutral Restrooms']
len(header) # column number reference

37

In [3]:
# list of all cuisine type
Cuisine_type = ['Japanese','Chinese','Korean', 'American', 'Indian', 'Spanish', 'French', 'Italian', 'Greek', 'Thai', 'Mexico', 'Vietnamese','morningside','Iranian','German','Russian','Turkey','']

In [4]:
# read Chinese_Restaurant.csv into dataframe
df_chinese = pd.read_csv('Chinese_Restaurant.csv', encoding = 'latin1')
df_chinese = df_chinese.reindex_axis(sorted(df_chinese.columns), axis=1) # order the column names
df_chinese = df_chinese.drop(['Unnamed: 0'],axis=1) # drop irrevalant column
df_chinese = df_chinese.drop_duplicates() # drop same restaurants appeared in the search
df_chinese ['Source'] = 'Chinese' # use 'Source' to indicate the searching term
df_chinese.shape # print shape to make sure column number is correct

(479, 38)

In [5]:
# An efficient way to read each csv into dataframes
# create a dictionary for storing all dataframes
all_df = {}
for i in range(len(Cuisine_type)):
    all_df[Cuisine_type[i]] = pd.read_csv(Cuisine_type[i]+'_Restaurant.csv', encoding = 'latin1')
    all_df[Cuisine_type[i]] = all_df[Cuisine_type[i]].reindex_axis(sorted(all_df[Cuisine_type[i]].columns), axis=1) # order the column names
    all_df[Cuisine_type[i]] = all_df[Cuisine_type[i]].drop(['Unnamed: 0'],axis=1) # drop irrevalant column
    all_df[Cuisine_type[i]] = all_df[Cuisine_type[i]].drop_duplicates() # drop same restaurants appeared in the search
    all_df[Cuisine_type[i]]['Source'] =Cuisine_type[i] # use 'Source' to indicate the searching term
    print(Cuisine_type[i],all_df[Cuisine_type[i]].shape)

Japanese (72, 38)
Chinese (479, 38)
Korean (216, 38)
American (138, 38)
Indian (151, 38)
Spanish (101, 38)
French (244, 38)
Italian (20, 38)
Greek (52, 38)
Thai (377, 38)
Mexico (56, 38)
Vietnamese (57, 38)
morningside (95, 38)
Iranian (57, 38)
German (62, 38)
Russian (74, 38)
Turkey (220, 38)
 (29, 38)

In [6]:
# Merge all the dataframes into one final dataframe
df_final = pd.concat(all_df[Cuisine_type[i]] for i in range(len(Cuisine_type)))
df_final = df_final.drop_duplicates()
df_final.shape

(2500, 38)

In [7]:
df_final = df_final.rename(index=str, columns={"restaurant_neighobrhood": "restaurant_neighborhood"})
df_final.reset_index()
df_final = df_final.fillna('NA')

In [8]:
# Check there is no restaurant name with Yelp from IP ban 
df_final[df_final['restaurant_name']=='Yelp']

Empty DataFrame
Columns: [Accepts Bitcoin, Accepts Credit Cards, Alcohol, Ambience, Attire, Bike Parking, Category, Caters, Delivery, Dogs Allowed, Gender Neutral Restrooms, Good For, Good for Groups, Good for Kids, Happy Hour, Has Dairy-free Options, Has Gluten-free Options, Has Soy-free Options, Has TV, Hygiene_score, Liked by Vegans, Liked by Vegetarians, Noise Level, Outdoor Seating, Parking, Source, Take-out, Takes Reservations, Waiter Service, Wheelchair Accessible, Wi-Fi, price_range, restaurant_name, restaurant_neighborhood, restaurant_rating, restaurant_reviewcount, restaurant_zipcode, retaurant_address]
Index: []

[0 rows x 38 columns]

In [9]:
df_final.head()

,Accepts Bitcoin,Accepts Credit Cards,Alcohol,Ambience,Attire,Bike Parking,Category,Caters,Delivery,Dogs Allowed,...,Waiter Service,Wheelchair Accessible,Wi-Fi,price_range,restaurant_name,restaurant_neighborhood,restaurant_rating,restaurant_reviewcount,restaurant_zipcode,retaurant_address
0,No,Yes,No,"Casual, Trendy",Casual,No,Japanese; Sushi Bars;,Yes,No,No,...,No,Yes,Free,$11-30,Wasabi Sushi & Bento,Financial District,4,107,10038,200 BroadwayFulton Street Station
1,NA,Yes,Beer & Wine Only,Casual,Casual,No,Ramen;,No,Yes,NA,...,Yes,NA,No,$11-30,Kuu Ramen,Financial District,3.5,510,10038,20 John St
2,NA,Yes,No,Casual,Casual,Yes,Bakeries; Japanese; Coffee & Tea;,Yes,No,NA,...,No,NA,No,$11-30,Takahachi Bakery,"Civic Center, TriBeCa",4,779,10007,25 Murray St
3,NA,Yes,Beer & Wine Only,Casual,Casual,Yes,Sushi Bars; Japanese;,Yes,Yes,NA,...,Yes,NA,Free,$11-30,Blue Ribbon Sushi Bar - Hudson Eats,Battery Park,3.5,124,10281,225 Liberty StHudson Eats
4,NA,Yes,Full Bar,"Casual, Trendy",Casual,Yes,Sushi Bars; Asian Fusion; Japanese;,Yes,Yes,No,...,Yes,Yes,No,$11-30,Honshu,NA,4,227,7302,95 Greene St

In [10]:
# save as "final_df.csv"
df_final.to_csv("final_df.csv")

**The final dataframe is also good for possible furture data analysis research or projects.**

Note: this list is not an exhausive list of all NYC restaurants due to the time limit constraint. In addition, we circumvented IP ban issues by searching a relatively small amount of urls.

Below are some df_final characteristics that are useful for building recommendation engine:

In [11]:
df_final.columns

Index(['Accepts Bitcoin', 'Accepts Credit Cards', 'Alcohol', 'Ambience',
       'Attire', 'Bike Parking', 'Category', 'Caters', 'Delivery',
       'Dogs Allowed', 'Gender Neutral Restrooms', 'Good For',
       'Good for Groups', 'Good for Kids', 'Happy Hour',
       'Has Dairy-free Options', 'Has Gluten-free Options',
       'Has Soy-free Options', 'Has TV', 'Hygiene_score', 'Liked by Vegans',
       'Liked by Vegetarians', 'Noise Level', 'Outdoor Seating', 'Parking',
       'Source', 'Take-out', 'Takes Reservations', 'Waiter Service',
       'Wheelchair Accessible', 'Wi-Fi', 'price_range', 'restaurant_name',
       'restaurant_neighborhood', 'restaurant_rating',
       'restaurant_reviewcount', 'restaurant_zipcode', 'retaurant_address'],
      dtype='object')

In [12]:
df_final['price_range'].unique()

array(['$11-30', 'Under $10', '$31-60', 'Above $61', 'NA', 'Â£11-25',
       'Moderate', 'Inexpensive', 'Ultra High-End', 'Pricey'], dtype=object)

In [13]:
df_final['Ambience'].unique()

array(['Casual, Trendy', 'Casual', 'Intimate', 'Casual, Intimate',
       'Classy, Upscale', 'Trendy, Romantic, Classy, Upscale', 'Classy',
       'Casual, Trendy, Intimate, Classy', 'NA', 'Trendy, Classy, Upscale',
       'Trendy', 'Hipster, Casual, Trendy',
       'Casual, Intimate, Romantic, Classy', 'Romantic, Upscale',
       'Hipster, Casual, Trendy, Intimate', 'Hipster, Casual',
       'Trendy, Intimate', 'Divey, Casual', 'Divey', 'Hipster',
       'Casual, Trendy, Intimate', 'Trendy, Upscale',
       'Casual, Trendy, Romantic, Classy',
       'Casual, Trendy, Intimate, Romantic, Classy',
       'Intimate, Romantic, Classy', 'Casual, Classy',
       'Casual, Intimate, Classy', 'Trendy, Romantic, Upscale', 'Romantic',
       'Intimate, Classy', 'Casual, Classy, Upscale',
       'Casual, Trendy, Classy, Upscale', 'Casual, Romantic',
       'Casual, Trendy, Romantic', 'Casual, Trendy, Romantic, Upscale',
       'Upscale', 'Casual, Trendy, Classy', 'Intimate, Romantic',
       'Trendy, Intimate, Romantic, Classy', 'Casual, Intimate, Romantic',
       'Trendy, Intimate, Romantic',
       'Trendy, Intimate, Romantic, Classy, Upscale',
       'Casual, Trendy, Romantic, Classy, Upscale', 'Trendy, Classy',
       'Trendy, Intimate, Classy', 'Intimate, Romantic, Classy, Upscale',
       'Casual, Romantic, Classy', 'Casual, Romantic, Upscale',
       'Casual, Trendy, Intimate, Romantic', 'Romantic, Classy',
       'Trendy, Romantic, Classy',
       'Hipster, Casual, Trendy, Intimate, Romantic, Classy, Upscale',
       'Touristy', 'Casual, Touristy', 'Romantic, Classy, Upscale',
       'Hipster, Trendy'], dtype=object)

In [25]:
len(df_final[df_final['Source'] == 'Italian'])

20

In [15]:
print(df_final.columns.get_loc("Parking"))
print(df_final.columns.get_loc("Takes Reservations"))

24
27

In [16]:
df_final['Takes Reservations'].unique()

array(['No', 'Yes', 'NA'], dtype=object)